<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{.sheetsURL}}">
  <style type="text/css" media="screen">
    body {
      min-height: 100vh;
    }
  </style>
  <title>{{.title}}</title>
</head>


<body>
  <nav>
    <ul>
      <li>
        <a hef="/index.html">Home</a>
      </li>
      <li>
        <details>
          <summary>
            Pages
          </summary>
          {{ template "topnav" . }}
        </details>
      </li>
      <li>
        <a href="/about.html">About</a>
      </li>
    </ul>
  </nav>

  <div>
    {{ template "header" . }}
  </div>

  <section>
    {{.main_content}}
  </section>

  <footer>
    {{ template "footer" . }}
  </footer>
</body>

</html>