name: Deploy

on:
  schedule:
    - cron: "25 4,21 * * *" # Runs at 12:25AM and 5:25PM EST daily. The hours reflect UTC time
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: lk-site-deploy
  cancel-in-progress: false

jobs:
  build-and-test:
    uses: ./.github/workflows/reusable_build_and_test.yml
    secrets: inherit

  deploy:
    name: Deploy Static Site
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:
      - name: Get GH App token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - name: Download Static Site Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: site
          path: ~/site
      - name: Check out krm-site (deploy target repository)
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          repository: "krmckone/krm-site"
          path: "krm-site"
      - name: Check out lk-site (deploy source repository)
        uses: actions/checkout@v4
        with:
          path: "lk-site"
      - name: Make deploy script executable
        run: chmod +x lk-site/.github/workflows/scripts/deploy.sh
      - name: "Check GH Auth"
        run: gh auth status
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
      - name: Deploy
        shell: bash --noprofile --norc -o pipefail {0}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        working-directory: "krm-site"
        run: ../lk-site/.github/workflows/scripts/deploy.sh
